<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>My Dias</title>
</head>
<body>
<form id="login_form" action="/mydias/user" method="post">
    <div>
        아이디<input type="text" name="email"><br/>
        비밀번호<input type="passWord" name="passwdEnc"><br/>
    </div>
    <button type="submit">로그인</button>
    <span><a href="/mydias/user/register">회원가입</a></span>
</form>
</body>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Spring Boot Application</title>
</head>
<body>Hello, Spring Boot App</body>
</html>